body {
    background: #393939;
    color: #fff;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
}

.pin {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    margin-bottom: 8px;
    box-sizing: border-box;
    background-color: #000000;
    border-radius: 4px;
}

.pin::before {
    content: "";
    position: absolute;
    display: block;
    margin: 2px;
    width: 26px;
    height: 26px;
    background-color: #989898;
    border-radius: 2px;
}

.pin::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    display: block;
    margin: 4px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #232323;
    box-shadow:
        19px 0 0 0 #232323,
        0 19px 0 0 #232323,
        19px 19px 0 0 #232323;
}

.pin label {
    align-self: anchor-center;
    position: absolute;
    margin-left: 30px;
    padding-left: 10px;
    width: 300px;
    line-height: 100%;
    font-family: Arial;
}

.pin label::after {
    content: " (LOW)";
    color: #c53535;
}

.pin.out-on label::after {
    content: " (HIGH OUT)";
    color: #35c535;
}

.pin.in-on label::after {
    content: " (HIGH IN)";
    color: #35c535;
}

.pin button {
    position: absolute;
    display: block;
    justify-self: anchor-center;
    align-self: anchor-center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #790707;
    background: #ae2222;
}

.pin.in-on button {
    transform: scale(0.9);
}

.pin.out-on button {
    border: 1px solid #790707;
    background: #ff1313;
    box-shadow:
        0 0 0 1px #ff000080,
        0 0 0 2px #ff000040;
}